<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
* {
  box-sizing: border-box;
}

/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 33.33%;
  padding: 10px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
</style>
</head>
<body>

<h2>Three Equal Columns</h2>

<div class="row">
    {{#each .}}
      <div class="column">
        {{#each .}}
          {{firstNumber}} {{operator}} {{secondNumber}} <br>
        {{/each}}
      </div>    
    {{/each}}
</div>

</body>
</html>
